.App {
  text-align: center;
}

input {
  height: 30px;
  width: 200px;
}

.addName {
  width: 100px;
  padding: 10px;
  background-color: aqua;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.addName:hover {
  opacity: 0.6;
}