body{
  background-image: url(/src/images/front.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto; 
  
}
.App {
  text-align: center;
}

h1 {
  background-color: rgba(13, 12, 19, 0.705);
  width: 500px;
  margin-left: 390px;
  color: white;
  padding: 25px 25px 25px 25px;
  border-radius: 85px 0px;
}

input {
  height: 40px;
  width: 300px;
  text-align: center;
  border-radius: 16px;
font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.74);
  color: black;
  border: 2px solid blue;
}

input::placeholder {
  color: #1d1c1bb2;
  font-size: 16px;
}


.addName {
  width: 150px;
  padding: 10px;
  background-color: aqua;
  color: black;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: transform 0.5 s;

}



.addName:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

.nameList {
  position: relative; 
  width: 500px;
  margin-left: 400px;
  border: 2px solid blue;
  padding: 20px;
  background-image: url(/src/images/markhor.jpg);
  background-repeat: no-repeat;
  margin-bottom: 20px;
  border-radius: 0px 0px 45px 45px;
  /* display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; */

}

h2 {
  background-color: rgba(10, 14, 14, 0.87);
  width: 180px;
  margin-left: 170px;
  border-radius: 45px;
  height: 40px;
  color: beige;
}


.btnLeftM1 {
  margin-right: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgba(32, 32, 187, 0.897);
  color: aliceblue;
  cursor: pointer;
  transition: transform 0.5 s;
}

.btnLeftM1:hover {
  transform: scale(1.4);
  color: rgb(164, 247, 11);
}

.btnLeftM2 {
  font-weight: bold;
  border-radius: 5px;
  background-color:rgba(172, 40, 40, 0.979);
  color: aliceblue;
  cursor: pointer;
  transition: transform 0.5 s;
}

.btnLeftM2:hover {
  transform: scale(1.2);
  color: rgb(251, 255, 0);
}


.row {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(13, 12, 19, 0.705);
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

span {
  margin-left: 10px;
}

.adddeletebtn {
  margin-right: 9px;
}





.footer {
  width: 540px;
  margin-left: 402px;
  height: 25px;
  background-color: rgba(24, 22, 22, 0.767);
  border-radius: 25px 25px 0 0 ;
  color: white;
  transition: transform 0.5 s;
  text-align: center;
}

.footer:hover {
  transform: scale(1.8);
  font-weight: bold;
  background-color: rgba(24, 22, 22, 0.979);

 
}